.dub
docs.json
__dummy.html
docs/
/libnijilife
libnijilife.so
libnijilife.dylib
nijilife.dll
libnijilife.a
nijilife.lib
libnijilife-test-*
*.exe
*.o
*.obj
*.lst
*.png

# Ignore selections to avoid useless stuff in repo
dub.selections.json

# Basic Renderer Example
examples/basicrender/basicrender
basicrender.so
basicrender.dylib
basicrender.dll
basicrender.a
basicrender.lib
basicrender-test-*
!logo.png