.dub
docs.json
__dummy.html
docs/
/libnijilive
libnijilive.so
libnijilive.dylib
nijilive.dll
libnijilive.a
nijilive.lib
libnijilive-test-*
*.exe
*.o
*.obj
*.lst
*.png

# Ignore selections to avoid useless stuff in repo
dub.selections.json

# Basic Renderer Example
examples/basicrender/basicrender
basicrender.so
basicrender.dylib
basicrender.dll
basicrender.a
basicrender.lib
basicrender-test-*
!logo.png

source/nijilive/ver.d
